{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
<h3>Bienvenue cher administrateur !</h2>

<div style="width:200px; text-align:center"><a href="http://ec2-100-26-163-196.compute-1.amazonaws.com/">--> Retour au site</a></div>
{% endblock %}